.home-inner1{
    align-items: center;
    height:260px;
    width: 640px;
    border: 1px solid black;
}
.home-inner2{
    align-items: center;
    height:210px;
    width: 260px;
    border: 1px solid black;
}
.home-inner3{
    height:210px;
    width: 260px;
    border: 1px solid black;
}
.home-main1{
    display: flex;
    gap: 10px;
    width: 1100px;
}

.home-search{
    background-color:white;
    margin: 50px 0 0 0;
    padding-left: 200px;
    height: auto;
    width:auto;
    border: 1px solid black;
}
.home-container{
    background-color: rgb(245,245,245);
}